{% extends 'index.html' %}
{% load static %}
{% block body %}
	<div class="w3l_banner_info">
		<div class="slider1">
			<div class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="slider1-img" style="height:10px">
							<div class="slider_banner_info">
							
							</div>
						</div>
					</li>
					
					
				</ul>
			</div>
		</div>
	</div>
	<!-- //banner-slider -->
</div>
</header>


<section class="about py-lg-5 py-md-4 py-md-3 py-2" id="about">
<div class="about py-lg-5 py-md-4 py-md-3 py-2">
<div class="container">
<h3 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">ABOUT US</h3><iframe style="height:0"></iframe>
<p style="color: black;padding:20px;">
	Our Online home tutor website is dedicated to connecting students with qualified tutors conveniently and efficiently. We provide a platform where students can easily search for tutors based on their specific needs and preferences. Our mission is to facilitate personalized learning experiences by matching students with tutors who can cater to their individual learning styles and academic goals. With our user-friendly interface and comprehensive tutor profiles, finding the perfect tutor for any subject or grade level has never been easier. Join us in revolutionizing the way students learn and excel academically.</p>
	

</div>
</section>



{% endblock %}

